header h1 {
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;    
}
span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;    
}
header {
    background-image: url(../image/pattern.jpeg);
}

h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;    
}
.brush {
    background-color: mediumspringgreen;
}
.frame {
    background-color: lightcoral;
}
.paint {
    background-color: lightblue;
}